<tr>
    <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse:collapse;line-height:100%!important;width:650px">
            <tr>
                <td width="325">
                    <a href="{{link}}" target="_blank" rilt="{{rilt}}">
                        <img src="{{image}}" alt="" style="display:block">
                    </a>
                </td>
                <td width="325">
                    <a href="{{double_link}}" target="_blank" rilt="{{double_rilt}}">
                        <img src="{{double_image}}" alt="" style="display:block">
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>